:root {
    --blue: #16bef2;
    --turq: #4f4f4f;
/*
    was 5c99ac88
*/
    --turqt: #4f4f4f88;
    --red: #f2164d;
}

body {
font-family: Tahoma,"Trebuchet MS","Nimbus Sans L",Arial,"Franklin Gothic Medium","Helvetica Neue",Geneva,Verdana,"URW Gothic L","Gill Sans",Helvetica,"Lucida Sans Unicode","Arial Black","Lucida Grande","Microsoft Sans Serif",sans-serif;
color: #222222;
font-size: 12px;
}

a {
  color: #000000;
  text-decoration: none; /* no underline */
}

.tab {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left:-16px;
}

.col {
	flex: 1 1 256px;
	margin-left:16px;
}

hr {
border: 1px solid #efefef;
}

.options {
	font-weight: bold;
	
}

.section {
display: block;
color: #888888;
margin-top: 8px;
}

.optioncontainer {
display: inline-block;
margin-top: 8px;
margin-bottom: 8px;
margin-right: 12px;
vertical-align:top;
min-height:50px;
}

.description {
display: inline;
margin-right: 0.2em;
font-weight: normal;
}

.value {
font-weight: bold;
display: inline;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  display: block;
  height: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;  
  background: #dfdfdf;
  box-shadow: 0 0 2px #00000088;
  outline: none;
  opacity: 1;
  -webkit-transition: .7s;
  transition: background .7s;
}

/* Mouse-over effects */
.slider:hover {
  background: #e8e8e8; /* Fully shown on mouse-over */
}

/* Focus effects */
.slider:focus {
  background: #e8e8e8; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--turq);
  box-shadow: 0 0 2px #00000088;
  cursor: pointer;
  -webkit-transition: .7s;
  transition: background .7s;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--turq);
  box-shadow: 0 0 2px #00000088;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--blue);
  border-width: 3px;
  border-color: var(--turqt);
  box-shadow: 0 0 5px var(--turqt);
}

.slider::-moz-range-thumb:hover {
  background: var(--blue);
  border-width: 3px;
  border-color: var(--turqt);
  box-shadow: 0 0 5px var(--turqt);    
}

.slider::-webkit-slider-thumb:focus {
  background: var(--blue);
  border-width: 3px;
  border-color: var(--turqt);
  box-shadow: 0 0 5px var(--turqt);
}

.slider::-moz-range-thumb:focus {
  background: var(--blue);
  border-width: 3px;
  border-color: var(--turqt);
  box-shadow: 0 0 5px var(--turqt);    
}

select {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
	max-width: 100%;
	box-sizing: border-box;
	margin-top: 3px;
	margin-bottom: 8px;
	border: 1px solid #aaa;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
select::-ms-expand {
	display: none;
}
select:hover {
	border-color: #888888;
}
select:focus {
	border-color: #aaa;
	box-shadow: 0 0 5px var(--turqt);
	color: #222;
	outline: none;
}

/* Disabled styles */
select:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
select:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}

/* The container */
.checkboxcont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4px;
  margin-bottom: 8px;
  height: 25px;
  width: 25px;
  border-radius: 5px;  
  background: #dfdfdf;
  box-shadow: 0 0 2px #00000088;
}

/* On mouse-over, add a grey background color */
.checkboxcont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcont input:checked ~ .checkmark {
  background-color: var(--blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type=text]{
    font-weight: bold;
    border: none;
    display: block;
    height: 24px;
    width: 128px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;  
    background: #dfdfdf;
    box-shadow: 0 0 2px #00000088;
    outline: none;
    opacity: 1;
    -webkit-transition: .7s;
    transition: background .7s;
}

/* Mouse-over effects */
input[type=text]:focus {
  background: var(--blue);
  color: #ffffff;
}

input[type=text]:invalid{
  background: var(--red);
  color: #ffffff;
}

textarea {
	width: 100%;
	resize: none;
/*
    font-weight: bold;
*/
	border: none;
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 5px;  
	background: #fcfcfc;
	box-shadow: 0 0 2px #00000088;
	outline: none;
	opacity: 1;
	-webkit-transition: .7s;
	transition: background .7s;
}

textarea::-webkit-input-placeholder {
  color: #00000088;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: #00000088;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #00000088;
}

textarea:-ms-input-placeholder {
  color: #00000088; 
}

textarea::placeholder {
  color: #00000088;
}

/* Mouse-over effects */
textarea:focus {
  background: var(--blue);
  color: #ffffff;
  
}

.button {
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
  border: none;
  color: #ffffff;
  background: var(--turq);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin: 4px 2px;
  cursor: pointer; 
  box-shadow: 0 0 2px #00000088;
  	-webkit-transition: .7s;
	transition: background .7s;
}

.button:hover {
  background: var(--blue);
  color: white;
  border-width: 3px;
  border-color: var(--turqt);
  box-shadow: 0 0 5px var(--turqt);    
}

.loadercont {
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:100%;
  }

.loader {
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #efefef;
  border-radius: 50%;
  border-top: 16px solid var(--red);
  border-right: 16px solid var(--red);
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}

.iconbarcont {
   display: flex;
   justify-content: center;
   background: #6f6f6f;
   margin-top: 12px;
   margin-bottom: 4px;
}

.iconbar {
  margin-top: 0px;
  background: var(--turq);
  display: inline-block;
  border: none;
  padding: 0px 0px;
  border-radius: 0px;
  text-align: center;
  vertical-align: middle;
}

.icon {
 height: 28px;
 border: 0;
 border-radius: 0px;
 padding: 8px 16px;
 margin-top: 0px;
 margin-bottom: -8px;
 transition: all 0.66s ease; /* Add transition for hover effects */
}

.icon:hover {
  background: var(--blue);
  border-width: 3px;
  border-color: var(--turqt);
  box-shadow: 0 0 5px var(--turqt);    
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
  width: 120px;
  background-color: var(--blue);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0s linear 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--blue) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icont {
font-size: 36px;
}
