<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="title" content="The page of Dres. Kling">
    <meta name="description" content="Die Seiten von Dr. Tanja Kling und Dr. Felix Kling. Python und anderes.">
    <meta name="keywords" content="Dr Felix Tanja Kling Python Chess">
    <meta name="owner" content="Dres. Kling">
    <meta name="author" content="Dr. Felix Kling">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="revisit-after" content="20 days">
    <meta name="viewport" content="width=300, initial-scale=1">  
<!--    <link rel="shortcut icon" href="favicon.ico"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    </head>

<body>
{% block body %} {% endblock %}
</body>
</html>
