{% extends 'base.html' %}
{% block title %}
pgn2LaTeX
{% endblock %}
{% block body %}

<div class=tab>
	<div class=col>
		<div class=options>
			<textarea name="pgn" id="pgn" rows=10 placeholder="Paste your pgn here!"></textarea>
		</div>

		<a class="button tooltip" href=# id=calculate>process pgn!<span class="tooltiptext">click to generate a pdf and tex file</span></a>
		
		<div class=iconbarcont>
			<div class=iconbar>
				<a href=# id=button_new class="tooltip icont">
					<img alt="new symbol" src="{{ url_for('static', filename='img/new.svg') }}" class=icon>
					<span class="tooltiptext">clear pgn field</span>
				</a>
<!--
				<a href=# id=button_paste class="tooltip icont">
					<img alt="a paste pgn symbol" src="{{ url_for('static', filename='img/paste_pgn.svg') }}" class=icon>
					<span class="tooltiptext">paste pgn from clipboard</span>
				</a>
-->
				<a href=# id=button_demo class="tooltip icont">
					<img alt="a paste demo pgn symbol" src="{{ url_for('static', filename='img/paste_demo.svg') }}" class=icon>
					<span class="tooltiptext">paste demo pgn</span>
				</a>
				<a href=# id=aoption class="tooltip icont">
					<img alt="an options symbol" src="{{ url_for('static', filename='img/options.svg') }}" class=icon>
					<span class="tooltiptext">toggle options</span>
				</a>
			</div>
		</div>
	
		<div id=doption style="display:none">
			<hr>
			
			<div class=options>
				<div class=section>basic</div>
				
				<div class="optioncontainer">
					<div class=description>language:</div>
					<input type="text" id=language value=english spellcheck="false" pattern="UKenglish|USenglish|acadian|afrikaans|aghem|akan|albanian|american|amharic|ancientgreek|arabic|arabic-DZ|arabic-MA|arabic-SY|arabic-algeria|arabic-morocco|arabic-syria|armenian|assamese|asturian|asu|australian|austrian|azerbaijani|azerbaijani-cyrillic|azerbaijani-cyrl|azerbaijani-latin|azerbaijani-latn|bafia|bahasa|bahasai|bahasam|bambara|basaa|basque|belarusian|bemba|bena|bengali|bgreek|bodo|bosnian|bosnian-cyrillic|bosnian-cyrl|bosnian-latin|bosnian-latn|brazil|brazilian|breton|british|bulgarian|burmese|canadian|canadien|cantonese|catalan|centralatlastamazight|centralkurdish|chechen|cherokee|chiga|chinese|chinese-hans|chinese-hans-hk|chinese-hans-mo|chinese-hans-sg|chinese-hant|chinese-hant-hk|chinese-hant-mo|chinese-simplified|chinese-simplified-hongkongsarchina|chinese-simplified-macausarchina|chinese-simplified-singapore|chinese-traditional|chinese-traditional-hongkongsarchina|chinese-traditional-macausarchina|churchslavic|churchslavic-cyrs|churchslavic-oldcyrillic|churchsslavic-glag|churchsslavic-glagolitic|colognian|cornish|croatian|czech|danish|duala|dutch|dzongkha|embu|english|english-au|english-australia|english-ca|english-canada|english-gb|english-newzealand|english-nz|english-unitedkingdom|english-unitedstates|english-us|esperanto|estonian|ethiop|ewe|ewondo|faroese|farsi|filipino|finnish|francais|french|french-be|french-belgium|french-ca|french-canada|french-ch|french-lu|french-luxembourg|french-switzerland|frenchle|friulan|friulian|fulah|galician|ganda|georgian|german|german-at|german-austria|german-ch|german-switzerland|germanb|greek|gujarati|gusii|hausa|hausa-gh|hausa-ghana|hausa-ne|hausa-niger|hawaiian|hebrew|hindi|hungarian|ibygreek|icelandic|igbo|inarisami|indon|indonesian|interlingua|irish|italian|japanese|jolafonyi|kabuverdianu|kabyle|kako|kalaallisut|kalenjin|kamba|kannada|kashmiri|kazakh|khmer|kikuyu|kinyarwanda|konkani|korean|koyraborosenni|koyrachiini|kwasio|kyrgyz|lakota|langi|lao|latin|latvian|lingala|lithuanian|lowersorbian|lsorbian|lubakatanga|luo|luxembourgish|luyia|macedonian|machame|magyar|makhuwameetto|makonde|malagasy|malay|malay-bn|malay-brunei|malay-sg|malay-singapore|malayalam|maltese|manx|marathi|masai|mazanderani|melayu|meru|meta|mexican|mongolian|morisyen|mundang|nama|naustrian|nepali|newzealand|ngerman|ngiemboon|ngomba|norsk|northernluri|northernsami|northndebele|norwegianbokmal|norwegiannynorsk|nswissgerman|nuer|nyankole|nynorsk|occitan|oriya|oromo|ossetic|pashto|persian|piedmontese|pinyin|polish|polutonikogreek|polytonicgreek|portuges|portuguese|portuguese-br|portuguese-brazil|portuguese-portugal|portuguese-pt|punjabi|punjabi-arab|punjabi-arabic|punjabi-gurmukhi|punjabi-guru|quechua|romanian|romansh|rombo|rundi|russian|rwa|sakha|samburu|samin|sango|sangu|sanskrit|sanskrit-beng|sanskrit-bengali|sanskrit-deva|sanskrit-devanagari|sanskrit-gujarati|sanskrit-gujr|sanskrit-kannada|sanskrit-knda|sanskrit-malayalam|sanskrit-mlym|sanskrit-telu|sanskrit-telugu|scottish|scottishgaelic|sena|serbian|serbian-cyrillic|serbian-cyrillic-bosniaherzegovina|serbian-cyrillic-kosovo|serbian-cyrillic-montenegro|serbian-cyrl|serbian-cyrl-ba|serbian-cyrl-me|serbian-cyrl-xk|serbian-latin|serbian-latin-bosniaherzegovina|serbian-latin-kosovo|serbian-latin-montenegro|serbian-latn|serbian-latn-ba|serbian-latn-me|serbian-latn-xk|serbianc|shambala|shona|sichuanyi|sinhala|slovak|slovene|slovenian|soga|somali|spanglish|spanish|spanish-mexico|spanish-mx|standardmoroccantamazight|swahili|swedish|swissgerman|tachelhit|tachelhit-latin|tachelhit-latn|tachelhit-tfng|tachelhit-tifinagh|taita|tamil|tasawaq|telugu|teso|thai|thaicjk|tibetan|tigrinya|tongan|turkish|turkmen|ukenglish|ukrainian|uppersorbian|urdu|usenglish|usorbian|uyghur|uzbek|uzbek-arab|uzbek-arabic|uzbek-cyrillic|uzbek-cyrl|uzbek-latin|uzbek-latn|vai|vai-latin|vai-latn|vai-vai|vai-vaii|vietnam|vietnamese|vunjo|walser|welsh|westernfrisian|yangben|yiddish|yoruba|zarma|zulu">
				</div>
				
				<div class="optioncontainer">
					<div class=description>paper:</div>
					<select name="paper" id="paper">
						<option value="a4paper">A4</option>
						<option value="letterpaper">letter</option>
						<option value="b5paper">B5</option>
						<option value="a5paper">A5</option>
						<option value="executivepaper">executive</option>
						<option value="legalpaper">legal</option>
					</select>
				</div>
				
				<div class="optioncontainer">
					<div class=description>columns:</div>
					<div class=value id=colval>3</div>
					<input type="range" min="1" max="6" value="3" class="slider" id="columns">
				</div>
				
				<div class="optioncontainer">
					<div class=description>font size:</div>
					<div class=value id=fontval>10</div>
					<input type="range" min="6" max="24" value="10" class="slider" id="fontsize">
				</div>
			
			</div>
			
			
			<div class=options>
				<div class=section>title and introduction</div>
			
			<div class="optioncontainer">
				<div class=description>title:</div>
				<input type="text" id=title>
			</div>
			
			<div class="optioncontainer">
				<div class=description>intro columns:</div>
				<div class=value id=introcolval>2</div>
				<input type="range" min="1" max="6" value="2" class="slider" id="introcolumns">
			</div>

			<textarea id="intro" rows=3 placeholder="Write your introduction here!"></textarea>	
			

			
			</div>
			
			
			
			<div class=options>
				<div class=section>boards</div>
				
				<div class="optioncontainer">
					<div class=description>board size:</div>
					<div class=value id=boardsizeval>16.3</div>
					<input type="range" min="6" max="24" value="16.3" step="0.1" class="slider" id=boardsize>
				</div>
				
				<div class="optioncontainer">
					<div class=description>label size:</div>
					<div class=value id=boardlabelsizeval>0</div>
					<input type="range" min="0" max="18" value="0" step="0.1" class="slider" id=boardlabelsize>
				</div>
				
				<div class="optioncontainer">
					<div class=description>margin top:</div>
					<input type="text" spellcheck="false" id=boardmargintop value=\baselineskip-11pt>
				</div>
						
				<div class="optioncontainer">
					<div class=description>margin bottom:</div>
					<input type="text" spellcheck="false" id=boardmarginbottom value=0pt>
				</div>
				
			</div>
			
			<div class=options>
				<div class=section>small boards (used in lines)</div>
				
				<div class="optioncontainer">
					<div class=description>board size:</div>
					<div class=value id=smallboardsizeval>14</div>
					<input type="range" min="6" max="24" value="14" step="0.1" class="slider" id="smallboardsize">
				</div>
				
				<div class="optioncontainer">
					<div class=description>label size:</div>
					<div class=value id=smallboardlabelsizeval>0</div>
					<input type="range" min="0" max="18" value="0" step="0.1" class="slider" id="smallboardlabelsize">
				</div>
				
				<div class="optioncontainer">
					<div class=description>margin top:</div>
					<input type="text" spellcheck="false" id=smallboardmargintop value=\baselineskip-10pt>
				</div>
						
				<div class="optioncontainer">
					<div class=description>margin bottom:</div>
					<input type="text" spellcheck="false" id=smallboardmarginbottom value=0pt>
				</div>
				
			</div>
			
			<div class=options>
				<div class=section>advanced</div>
				
				<div class="optioncontainer">
					<div class=description>quotation marks:</div>
					<div>
					<input class=smallinput type="text" spellcheck="false" id=qqstart value="``" style="width:48px; display: inline-block;">
					<input class=smallinput type="text" spellcheck="false" id=qqend value="&#39;&#39;" style="width:48px; display: inline-block;">
					</div>
				</div>
				
				
			</div>
		
			<hr>
		
		</div>
		
	</div>
	

	
	<div class=col id=col2>
		<textarea id=result autocomplete="off" readonly rows=2 class="blinking-cursor" style="background:#444444; color:#ffffff;">_</textarea>
		<a class=button target="_blank" href=# id=download style="display:none">download files</a>
		<div id=pdf>
			<br>
			<b>Usage</b><br>
			<br>
			Copy a chess game in pgn format into the box and click on the button to create a pdf file.<br>
			<br>
			In order to change options like font size or paper, click the settings icon in the icon bar.<br>
			<br>
			<b>Syntax and notes</b><br>
			<br>
			You can use \sp, \sn, \sb, \sr, \sq and \sk in pgn comments to print piece symbols for pawn, knight, bishop, rook, queen and king.<br>
			<br>
			One can also add Diagrams in ChessBase (i.e. {Diagram #}) or ChessAssistant format, even in side lines. There is sometimes a positioning problem in ChessAssistant format, since the script expects the diagram marker after the move the diagram should be displayed at. For adding a diagram, you can as well add DiaW# (without any space behind or in front) to (usually the beginning or end of) a comment.<br>
			<br>
			For positions (not games) provide Event and White in the pgn header only (for instance: Event "rook endings" and White "Lucena position").<br>
			<br>
			Click the demo button to see an example pgn demonstrating the capabilities of the software.
		</div>
	</div>
	
</div>


<script>
$(document).ready(function() {
	
	var isMobile = false; //initiate as false
	// device detection
	if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
		|| /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) { 
		isMobile = true;
	}
	
	
	$(window).on('resize', function(){
		$('#pdf').css({'max-height': ($('#pdf').width()*1.414) + 'px'});
	});
	
	var slidercol = document.getElementById("columns");
	var colval = document.getElementById("colval");
	// Update the current slider value (each time you drag the slider handle)
	slidercol.oninput = function() {
	  colval.innerHTML = this.value;
	};
	
	var sliderfont = document.getElementById("fontsize");
	var fontval = document.getElementById("fontval");
	// Update the current slider value (each time you drag the slider handle)
	sliderfont.oninput = function() {
	  fontval.innerHTML = this.value;
	};
	
	var slidericol = document.getElementById("introcolumns");
	var introcolval = document.getElementById("introcolval");
	// Update the current slider value (each time you drag the slider handle)
	slidericol.oninput = function() {
	  introcolval.innerHTML = this.value;
	};

	var sliderbs = document.getElementById("boardsize");
	var boardsizeval = document.getElementById("boardsizeval");
	// Update the current slider value (each time you drag the slider handle)
	sliderbs.oninput = function() {
	  boardsizeval.innerHTML = this.value;
	};


	var slidersbs = document.getElementById("smallboardsize");
	var smallboardsizeval = document.getElementById("smallboardsizeval");
	// Update the current slider value (each time you drag the slider handle)
	slidersbs.oninput = function() {
	  smallboardsizeval.innerHTML = this.value;
	};

	var sliderls = document.getElementById("boardlabelsize");
	var boardlsizeval = document.getElementById("boardlabelsizeval");
	// Update the current slider value (each time you drag the slider handle)
	sliderls.oninput = function() {
	  boardlsizeval.innerHTML = this.value;
	};
	
	var slidersls = document.getElementById("smallboardlabelsize");
	var boardslsizeval = document.getElementById("smallboardlabelsizeval");
	// Update the current slider value (each time you drag the slider handle)
	slidersls.oninput = function() {
	  boardslsizeval.innerHTML = this.value;
	};
	
	$('#aoption').click(function() {
		$('#doption').slideToggle();
		event.preventDefault();	
	});
	
	$('#button_new').click(function() {
		$('#pgn').val("");
		event.preventDefault();	
	});
	
	//~ $('#button_paste').click(function() {
		//~ navigator.clipboard.readText().then(text => $('#pgn').val(text));
		//~ event.preventDefault();	
	//~ });
	
	$('#button_demo').click(function() {
		$('#pgn').val(
`[Event "A demo"]
[Site "Internet"]
[Date "2020.06.21"]
[Round "1"]
[White "Somebody"]
[Black "Somebody else"]
[Result "1-0"]

{This is where a small introduction can be placed.} 1. e4 {!} 1... e5 2. Nf3 (2. Nc3 {You can place comments in variations.} 2... Nf6 3. f4 (3. g3)(3. Bc4)) (2. f4 exf4 (2... d5)(2... Bc5))(2. Bc4) 2... Nc6 {This is a comment. It demonstrates special symbols like \\sk\\  and \\sp . Note the backslash after \\sk . Without, it would leave no space after the symbol. All available piece symbols are: \\sp \\sn \\sb \\sr \\sq \\sk .} 3. Bc4 {DiaW#} 3... Nf6 {The last comments demonstrate diagrams. You can also place them inside comments.DiaW#} (3... Bc5 {Inside variations, smaller diagrams are used by default. They are placed behind the next comment, variation start or end of line for typographic reasons.} 4. d3 {DiaW#} 4... Nf6 5. O-O d6) 4. O-O {If you start quoting something like "this phrase", the software will replace the double quotation marks with the proper Latex equivalent.} 1-0

[Event "Rook endgames"]
[Site "?"]
[Date "????.??.??"]
[Round "?"]
[White "A mate in three"]
[Black "?"]
[Result "*"]
[FEN "3k4/4R3/3K4/8/8/8/8/8 w - - 0 1"]
[SetUp "1"]

{This second game is just a position. Only Event and White are in the header and the software will recognize that it is no game and print a different title box. Furthermore, games that do not start with the initial position start with a diagram.} 1. Re5 Kc8 2. Rb5 Kd8 3. Rb8# {If no result is entered for the game, nothing is printed at the end. \\\\\\\\By the way, you can also add Latex commands \\begin{itemize} \\item Like \\item this \\item one! \\item It is \\item an enumeration.\\end{itemize}} *`
		);
		event.preventDefault();	
	});
	
	
	
	$('#calculate').click(function() {
		$('#calculate').slideUp(1000);
		$('#download').slideUp(1000);
		$("#result").attr("class","");
		$("#result").val("Processing pgn. This may take several minutes, please be patient!");
		$('#pdf').replaceWith("<div id=pdf class=loadercont><div class=loader></div></div>");
		
		// ajax the JSON to the server
		$.ajax({
			type: 'POST',
			url: '/pgn2latex/',
			data: JSON.stringify ({
				pgn : $('#pgn').val(),
				language : $('#language').val(),
				paper : $('#paper').val(),
				colnr : "" + $('#colval').text(),
				fontsize : "" + $('#fontval').text() ,
				title : $('#title').val(),
				intro : $('#intro').val(),
				introcolnr : "" + $('#introcolval').text() ,
				boardsize : "" + $('#boardsizeval').text(),
				boardmargintop : $('#boardmargintop').val(),
				boardmarginbottom : $('#boardmarginbottom').val(),
				boardlabelsize: "" + $('#boardlabelsizeval').text(),
				smallboardsize: "" + $('#smallboardsizeval').text(),
				smallboardlabelsize : "" + $('#smallboardlabelsizeval').text(),
				smallboardmargintop : $('#smallboardmargintop').val(),
				smallboardmarginbottom : $('#smallboardmarginbottom').val(),
				qqstart : $('#qqstart').val(),
				qqend : $('#qqend').val(),
				}),
			success: function(data) { 
				$("#result").val(data.result);
				
				if (data.result != "Please paste a valid pgn!") {
					if (!(isMobile)) {					
					
						var embed = $('<embed>');
						embed.attr({
							src : data.pdf,
							type : "application/pdf",
							width : "100%",
							height : "100%",
							id: "pdf",
							});		
						$('#pdf').replaceWith(embed);
						
						var checkExist = setInterval(function() {
						   if ($('#pdf').width()) {
							  $('#pdf').css({'max-height': ($('#pdf').width()*1.414) + 'px'});
							  $('#pdf').css({'min-height': '512px'});
							  clearInterval(checkExist);
						   }
						}, 100); 
					} else {
						$('#pdf').replaceWith('<a class=button target="_blank" href="' + data.pdf + '" id=pdf>display pdf</a>');
					 }
						

					
					$('#download').attr('href', data.zipf);
					$('#download').slideDown(1000);	
									
				} else {
					$('#pdf').replaceWith("<div id=pdf></div>");
				}	
				
				$('#calculate').slideDown(1000);
			},
			error: function(data) {
				$("#result").val("An error occurred!");
				$('#pdf').replaceWith("<div id=pdf></div>");
				$('#calculate').slideDown(1000);
			},
			contentType: "application/json",
			dataType: 'json'
		});
		
		
		
		// stop link reloading the page
		event.preventDefault();	  
		
	});
})
</script>

{% endblock %}
